.logo{
    position:fixed;
    width:40%;
    top:0%;
    right:30%;
    z-index:10;

}

.logo:hover{
    position:fixed;
    /* width:50%; */
    top:0%;
    /* left:0%; */
    z-index:10;
    transition:all 500ms;

}
.main{
    /* background:blue;   */
    position:relative;
    width:80%;
    height:100%;
    top: 100px;
    left: 0px;
}

.sidebar{
    /* background:green;   */
    padding:2px;
    position:fixed;
    width:20%;
    height:1000vh;
    top: 0px;
    right:0;
    
}
p{
    color:rgb(21, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    word-spacing:20px;
    letter-spacing:2px;
    text-align:right;
    padding:30px;
    transition:all 500ms;

}


p:hover{
    color:rgb(21, 255, 0);
    opacity:0.8;
}

a{
    color: rgb(21, 255, 0);
}
a:link {
    color: rgb(21, 255, 0);
    text-decoration: none;
    
  }
.version{
    position:relative;
    width:150%;
    top:0%;
    left:0px;
    z-index:10;
}

.video{
    z-index:-10;
    opacity:0.8;
    width:60%;
    top:400px;
    right:10px;
    position:fixed;
    filter:blur(0px);
}